<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsintech.dao.WechatDao">

	<select id="getEventById" resultType="com.xsintech.model.Event">
		SELECT 
			ID as id,
		    EVENT_NAME as eventName,
		    EVENT_COMMENT as eventComment,
		    USER_ID as userId,
		    CREATED_DATE as createdDate,
		    FILE_NAME as fileName
		FROM 
			XST_EVENT
		WHERE
			ID = #{param1}
	</select>

	<select id="getUserEventListByUserId" resultType="com.xsintech.model.Event">
		SELECT 
			T1.ID as id, 
			T1.EVENT_NAME as eventName, 
			T1.USER_ID as userId, 
			DATE_FORMAT(T1.CREATED_DATE, '%Y/%m/%d %T')  as createdDate ,
			COUNT(T0.ANSWER_ID) as answerCount
		FROM 
			XST_ANSWER  T0
		RIGHT JOIN 
			XST_EVENT T1 
		ON 
			T0.EVENT_ID = T1.ID
		WHERE 
			T1.USER_ID = #{param1}
		GROUP BY 
			T1.USER_ID, 
			T1.ID, 
			T1.EVENT_NAME, 
			T1.CREATED_DATE
		ORDER BY 
			T1.CREATED_DATE DESC
		
	</select>

	<select id="getAnswerCountInfoByEventId" resultType="com.xsintech.model.AnswerCountInfo">
		SELECT 
			T0.ID as subId,
			OPTION_VALUE as optionValue,
			IFNULL(T1.CT, 0) as attend,
			IFNULL(T2.CT, 0) as undetermined,
			IFNULL(T3.CT, 0) as cancel,
			'0' as status
		FROM 
			XST_EVENT_OPTION T0
		LEFT JOIN 
		(
			SELECT COUNT(*) AS CT, XEO.ID AS ID FROM XST_ANSWER_SUB XAS 
			INNER JOIN XST_EVENT_OPTION XEO ON XEO.ID = XAS.SUB_ID
			WHERE XEO.EVENT_ID = #{param1} AND XAS.STATUS = 1
			GROUP BY XEO.ID
		) T1 
		ON 
			T0.ID = T1.ID
		LEFT JOIN 
		(
			SELECT COUNT(*) AS CT, XEO.ID AS ID FROM XST_ANSWER_SUB XAS 
			INNER JOIN XST_EVENT_OPTION XEO ON XEO.ID = XAS.SUB_ID
			WHERE XEO.EVENT_ID = #{param1} AND XAS.STATUS = 0
			GROUP BY XEO.ID
		) T2 
			ON T0.ID = T2.ID
		LEFT JOIN 
		(
			SELECT COUNT(*) AS CT, XEO.ID AS ID FROM XST_ANSWER_SUB XAS 
			INNER JOIN XST_EVENT_OPTION XEO ON XEO.ID = XAS.SUB_ID
			WHERE XEO.EVENT_ID = #{param1} AND XAS.STATUS = 2
			GROUP BY XEO.ID
		) T3 
			ON T0.ID = T3.ID
		WHERE 
			EVENT_ID = #{param1}
	</select>

	<select id="getSubDetail" resultType="com.xsintech.model.AnswerInfo">
		SELECT 
			T3.OPTION_VALUE as optionValue,
			T1.ANSWER_NAME as answerName,
			T2.STATUS as status, 
			DATE_FORMAT(T1.ANSWER_DATE, '%Y/%m/%d %T') as answerDate, 
			T1.ANSWER_COMMENT as answerComment
		FROM 
			XST_ANSWER T1 
		INNER JOIN 
			XST_ANSWER_SUB T2 
		ON 
			T1.ANSWER_ID = T2.ANSWER_ID
		INNER JOIN 
			XST_EVENT_OPTION T3 
		ON 
			T3.ID = T2.SUB_ID
		WHERE 
			T3.EVENT_ID = #{param1}
			AND T2.SUB_ID = #{param2}
		ORDER BY
			T2.STATUS, 
			T1.ANSWER_DATE
	</select>

	<select id="getAnswerCountByEventId" resultType="Integer">
		SELECT DISTINCT COUNT(USER_ID) FROM XST_ANSWER WHERE EVENT_ID = #{param1}
	</select>

	<insert id="saveEvent" parameterType="com.xsintech.model.Event" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO XST_EVENT
		(
			EVENT_NAME,
			EVENT_COMMENT,
			USER_ID,
			CREATED_DATE
		)
			VALUES
		(
			#{eventName},
			#{eventComment, jdbcType=VARCHAR},
			#{userId},
			NOW()
		)
	</insert>
	
	<insert id="saveEventOption">
		INSERT INTO XST_EVENT_OPTION
		(
			EVENT_ID,
			OPTION_VALUE
		)
		VALUES
		(
			#{param1},
			#{param2}
		)
	</insert>

	<insert id="saveAnswerInfo" parameterType="com.xsintech.model.AnswerInfo" useGeneratedKeys="true" keyProperty="answerId">
		INSERT INTO XST_ANSWER
		(
			EVENT_ID,
			USER_ID,
			ANSWER_NAME,
			ANSWER_COMMENT,
			ANSWER_DATE
		)
			VALUES
		(
			#{eventId},
			#{userId},
			#{answerName},
			#{answerComment, jdbcType=VARCHAR},
			NOW()
		)
	</insert>

	<insert id="saveAnswerDetailInfo">
		INSERT INTO XST_ANSWER_SUB
		(
			ANSWER_ID,
			SUB_ID,
			STATUS
		)
		VALUES
		(
			#{param1},
			#{param2.subId},
			#{param2.status}
		)
	</insert>

	<update id="saveFileName">
		UPDATE XST_EVENT SET FILE_NAME = #{param2} WHERE ID = #{param1}
	</update>
</mapper>